/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
app/Catalog/UserCatalog.php
app/Http/Controllers/EshopController.php
resources/views/login.blade.php
resources/views/login.blade.php
app/Http/Controllers/EshopController.php
app/Catalog/ElectronicCatalog.php
app/Http/Controllers/EshopController.php
app/Model/Desktop.php
app/Model/ElectronicSpecification.php
app/Model/Laptop.php
app/Model/Tablet.php
resources/views/addinventoryDesktop.blade.php
resources/views/addinventoryDesktop.blade.php
app/Model/Tablet.php
resources/views/addinventoryDesktop.blade.php
resources/views/addinventorymonitor.blade.php
resources/views/addinventoryTablet.blade.php
resources/views/layouts/test.blade.php
routes/web.php
